.App{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    font-size: 20px;
   
}
.btn{
    font-size: 20px;
    background-color: transparent !important;
    border: none;

}
.expand{
    transform: rotate(90deg);
    background-color: transparent !important;
    border: none;
    font-size: 20px;
}